body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*  background-color: #1fc8db;
    background: linear-gradient(to bottom, rgba(0,0,128,0.9), rgba(128,0,128,1));
    background: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);*/

    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sec_frame a:link {
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    height: 80px;
    width: 80px;
    background-color: #1f3f49; 
    display:inline-block;
    font-size: 120%;
    padding-top: 17%;
}

.sec_frame a:hover {
    font-weight: bold;
    border-radius: 50%;
    color: #488a99;
    height: 80px;
    width: 80px;
    background-color: #1f3f49; 
    display:inline-block;
    font-size: 120%;
    padding-top: 17%;
}

.sec_frame {
    left: 30%;
    display: table;
    position: absolute;
    /*background-color: lightgrey ;*/
    background-color: #488a99; 
    width: 10%;
    height: 100%;
    font-size: 180%;
    padding-top: 25%;
    padding-left: 2%;
}

.main_frame {
    right: 0px;
    position: absolute;
    display: table;
    /*background-color: lightgrey ;*/
    background-color: #488a99; 
    width: 60%;
    height: 100%;
    font-size: 180%;
    padding-top: 12%;
    font-family: fantasy;
}
.heading {
    padding-top: 18%;
    padding-right: 0%;
    left: 0px;
    width: 30%;
    height: 100%;
    position: absolute;
    display: table;
    font-family: fantasy;
/*    background-color: grey;*/
    background-color: #1f3f49; 
}

.centre {
    margin: auto;
    text-align: center;
    color: white;
    line-height:100px;
}

.centre img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.parent {
    margin: auto;
    text-align: center;
}

#inputDiv{
    margin: auto;
    text-align: center;
    margin-top: 10%;
}

#upload_file:disabled
{
    background-color: slategray;
    border-color: slategray;
}

#run_model:disabled{
    background-color: slategray;
    border-color: slategray;
}

#upload_file:enabled
{
    /*background-color: darkslategray;*/
    background-color: #1f3f49; 
    border-color: darkslategray;
}

#run_model:enabled
{
    /*background-color: darkslategray;*/
    background-color: #1f3f49; 
    border-color: darkslategray;
}

#result{
    margin: auto;
    margin-top: 10%;
    text-align: center;
    font-size: 150%;
    color: white; 
    font-family: fantasy;
}
